@import '../../variables.scss';

.header {
  background-color: $mainColor;
  min-height: 60px;
  display: flex;
  align-items: center;
}

.logo {
  display: inline-block;
  transform: translateX(calc((100vw - 1140px) / 2));
  color: white;
}

.fontawesome {
  font-size: 40px;
  transition-duration: 1s;

  &:hover {
    transform: rotate(125deg) scale(1.4);
    color: #61dafb;
  }
}
