.formControl {
  .error {
    border: 1px solid red;
  }
  span {
    color: red;
  }
}
.formControlError {
  margin: 5px 0;
  padding: 5px;
  display: inline-block;
  border: 1px solid red;
  color: red;
}
